<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="two.example.demo.dao.MenuDao">
    <select id="findAll" resultType="two.example.demo.eneity.Menu">
        select * from menu;
    </select>
    <select id="findByType" parameterType="string" resultType="two.example.demo.eneity.Menu">
        select * from menu where type=#{type};
    </select>
    <select id="findByKeywords" parameterType="string" resultType="two.example.demo.eneity.Menu">
        select * from menu where name like #{keywords};
    </select>
    <insert id="insertMenu" parameterType="two.example.demo.eneity.Menu" useGeneratedKeys="true">
        insert into menu(name,type,num,price,description) values (#{name},#{type},#{num},#{price},#{description});
    </insert>
    <delete id="deleteMenu" parameterType="String">
        delete from menu where name=#{name};
    </delete>
    <update id="updateMenu">
        update menu
        <set>
        <if test="param2!=null">
            name=#{param2},
        </if>
        <if test="param3!=null">
            num=#{param3},
        </if>
        <if test="param4!=null">
            price=#{param4},
        </if>
        <if test="param5!=null">
            description=#{param5},
        </if>
        </set>
        where id_menu=#{param1}
    </update>
    <update id="modifyMenu">
        UPDATE menu set name=#{name},type=#{type},num=#{num},price=#{price},description=#{description} where id_menu=#{idMenu}
    </update>
    <select id="findById" parameterType="java.lang.Integer" resultType="two.example.demo.eneity.Menu">
        SELECT * FROM  menu WHERE id_menu=#{id}
    </select>
</mapper>