<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="two.example.demo.dao.OrderDao">
    <select id="findAll" resultType="two.example.demo.eneity.Order">
        select * from shun.order;
    </select>
    <select id="findById" parameterType="String" resultType="two.example.demo.eneity.Order">
        select * from shun.order where id_customer=#{idCustomer};
    </select>
    <select id="findByName" parameterType="String" resultType="two.example.demo.eneity.Order">
        select * from shun.order where name_customer like #{nameCustomer};
    </select>
    <insert id="insertOrder" parameterType="two.example.demo.eneity.Order" useGeneratedKeys="true">
        insert into shun.order(id_order,id_menu,name,quantity,id_customer,status,name_customer,address_customer,phone_customer,time) values(#{idOrder},#{idMenu},#{name},#{quantity},#{idCustomer},#{status},#{nameCustomer},#{addressCustomer},#{phoneCustomer},#{time});
    </insert>
    <select id="findByIdOrder" parameterType="Integer" resultType="two.example.demo.eneity.Order">
        select * from shun.order where id_order=#{idOrder};
    </select>
    <update id="modifyOrder">
        update shun.order set id_menu=#{idMenu},name=#{name},quantity=#{quantity},id_customer=#{idCustomer},status=#{status},name_customer=#{nameCustomer},address_customer=#{addressCustomer},phone_customer=#{phoneCustomer},time=#{time} where id_order=#{idOrder};
    </update>
</mapper>